@import "tailwindcss";

@theme inline {
  --font-sans: system-ui, sans-serif;
  --primary: #9333ea;
  --primary-foreground: #ffffff;
}

body {
  font-family: var(--font-sans);
  color: #333;
  background-color: #fff;
}